.idea/
venv/
Source/Database
Source/__pycache__
Source/Frontend/__pycache__
Source/Backend/__pycache__
Source/Backend/Data/__pycache__
Source/Backend/Ingestion/__pycache__
Source/Backend/Vector/__pycache__
Source/Backend/Graph/__pycache__
Source/capture.jpg
Source/graph.json.txt